In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import accuracy_score
from joblib import dump
from joblib import load
from sklearn.metrics import confusion_matrix
from sklearn.manifold import TSNE
from sklearn.metrics import classification_report
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
import pandasql as ps

In [3]:
try:
    from StringIO import StringIO
except ImportError:
    from io import StringIO

In [4]:
from sklearn.externals.six import StringIO  
from IPython.display import Image  
from sklearn.tree import export_graphviz
import pydotplus

In [5]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [6]:
train.head(10)

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,0000997932d777bf,Explanation\nWhy the edits made under my usern...,0,0,0,0,0,0
1,000103f0d9cfb60f,D'aww! He matches this background colour I'm s...,0,0,0,0,0,0
2,000113f07ec002fd,"Hey man, I'm really not trying to edit war. It...",0,0,0,0,0,0
3,0001b41b1c6bb37e,"""\nMore\nI can't make any real suggestions on ...",0,0,0,0,0,0
4,0001d958c54c6e35,"You, sir, are my hero. Any chance you remember...",0,0,0,0,0,0
5,00025465d4725e87,"""\n\nCongratulations from me as well, use the ...",0,0,0,0,0,0
6,0002bcb3da6cb337,COCKSUCKER BEFORE YOU PISS AROUND ON MY WORK,1,1,1,0,1,0
7,00031b1e95af7921,Your vandalism to the Matt Shirvington article...,0,0,0,0,0,0
8,00037261f536c51d,Sorry if the word 'nonsense' was offensive to ...,0,0,0,0,0,0
9,00040093b2687caa,alignment on this subject and which are contra...,0,0,0,0,0,0

In [7]:
train.isnull().any()

id               False
comment_text     False
toxic            False
severe_toxic     False
obscene          False
threat           False
insult           False
identity_hate    False
dtype: bool

In [9]:
toxic_comments = train[['id', 'comment_text', 'toxic']][train['toxic'] == 1]
toxic_comments.head()

                  id                                       comment_text  toxic
6   0002bcb3da6cb337       COCKSUCKER BEFORE YOU PISS AROUND ON MY WORK      1
12  0005c987bdfc9d4b  Hey... what is it..\n@ | talk .\nWhat is it......      1
16  0007e25b2121310b  Bye! \n\nDon't look, come or think of comming ...      1
42  001810bf8c45bf5f  You are gay or antisemmitian? \n\nArchangel WH...      1
43  00190820581d90ce           FUCK YOUR FILTHY MOTHER IN THE ASS, DRY!      1

In [11]:
severe_toxic = train[['id', 'comment_text', 'severe_toxic']][train['severe_toxic'] == 1]
severe_toxic.head()

,id,comment_text,severe_toxic
6,0002bcb3da6cb337,COCKSUCKER BEFORE YOU PISS AROUND ON MY WORK,1
55,0020e7119b96eeeb,Stupid peace of shit stop deleting my stuff as...,1
181,006e87872c8b370c,you are a stupid fuck \n\nand your mother's cu...,1
442,01208d2b76624130,Hi \n\nIm a fucking bitch.\n\n50.180.208.181,1
579,018663f910e0bfe6,What a motherfucking piece of crap those fuckh...,1

In [12]:
obscene = train[['id', 'comment_text', 'obscene']][train['obscene'] == 1]
obscene.head()

,id,comment_text,obscene
6,0002bcb3da6cb337,COCKSUCKER BEFORE YOU PISS AROUND ON MY WORK,1
42,001810bf8c45bf5f,You are gay or antisemmitian? \n\nArchangel WH...,1
43,00190820581d90ce,"FUCK YOUR FILTHY MOTHER IN THE ASS, DRY!",1
51,001dc38a83d420cf,GET FUCKED UP. GET FUCKEEED UP. GOT A DRINK T...,1
55,0020e7119b96eeeb,Stupid peace of shit stop deleting my stuff as...,1

In [13]:
threat = train[['id', 'comment_text', 'threat']][train['threat'] == 1]
threat.head()

,id,comment_text,threat
79,003217c3eb469ba9,Hi! I am back again!\nLast warning!\nStop undo...,1
176,006b94add72ed61c,I think that your a Fagget get a oife and burn...,1
600,0199d6af27b715f3,I'm also a sock puppet of this account...SUPRI...,1
802,02230885017a50c5,"Fuck you, Smith. Please have me notified when ...",1
1017,02c6e41e4b317ac3,WOULDN'T BE THE FIRST TIME BITCH. FUCK YOU I'L...,1

In [14]:
insult = train[['id', 'comment_text', 'insult']][train['insult'] == 1]
insult.head()

,id,comment_text,insult
6,0002bcb3da6cb337,COCKSUCKER BEFORE YOU PISS AROUND ON MY WORK,1
42,001810bf8c45bf5f,You are gay or antisemmitian? \n\nArchangel WH...,1
43,00190820581d90ce,"FUCK YOUR FILTHY MOTHER IN THE ASS, DRY!",1
55,0020e7119b96eeeb,Stupid peace of shit stop deleting my stuff as...,1
56,0020fd96ed3b8c8b,=Tony Sidaway is obviously a fistfuckee. He lo...,1

In [15]:
identity_hate = train[['id', 'comment_text', 'identity_hate']][train['identity_hate'] == 1]
identity_hate.head()

,id,comment_text,identity_hate
42,001810bf8c45bf5f,You are gay or antisemmitian? \n\nArchangel WH...,1
105,00472b8e2d38d1ea,A pair of jew-hating weiner nazi schmucks.,1
176,006b94add72ed61c,I think that your a Fagget get a oife and burn...,1
218,008e0818dde894fb,"Kill all niggers. \n\nI have hard, that others...",1
238,0097dd5c29bf7a15,u r a tw@ fuck off u gay boy.U r smelly.Fuck u...,1